body {
    background-color: rgba(0, 0, 0, 0);
    font-weight: bold;
}

#container {
    border-radius: 1rem;
    color: white;
    display: inline-block;
    margin: 1rem;
    padding: 1rem;
}

#clock {
    font-family: "Roboto Mono", monospace;
    font-size: 3rem;
}

#location {
    font-family: Roboto, sans-serif;
    font-size: 2rem;
}
