body {
    color: black;
    text-shadow: 0 0 0.5rem white;
}

#container {
    margin-left: 1rem;
    margin-top: 2rem;
}

#clock {
    font-family: "Roboto Mono", monospace;
    font-size: 3rem;
}

#location {
    font-family: Roboto, sans-serif;
    font-size: 2rem;
}
