body {
    background-color: rgba(0, 0, 0, 0);
    font-weight: bold;
}

#container {
    border-radius: 2rem;
    color: white;
    display: inline-block;
    margin: 2rem;
    padding: 2rem;
}

#clock {
    font-family: "Roboto Mono", monospace;
    font-size: 6rem;
}

#location {
    font-family: Roboto, sans-serif;
    font-size: 4rem;
}
